
// Font size for responsive


// General text
body, a {

    line-height: 1.7;
    font-weight: 400;
    font-family: $ff-text;
    color: $color-text;
    font-size: $font-size-small;

}

// Titles
h1,
h2,
h3,
h4 {
    font-family: $ff-text;
    margin: inherit;
    font-weight: bold;
}