



// Font size for responsive
// html {

//     font-size: $font-size-small;

//     @media (min-width: $breakpoint-medium) {
//         font-size: $font-size-medium;
//     }

//     @media (min-width: $breakpoint-large) {
//         font-size: $font-size-large;
//     }
    
//     @media (min-width: $breakpoint-medium) {
//         font-size: $font-size-medium;
//     }

//     @media (min-width: $breakpoint-large) {
//         font-size: $font-size-large;
//     }
// }

// General text
body, a {

    line-height: 1.7;
    font-weight: 400;
    font-family: $ff-text;
    color: $color-text;
    font-size: $font-size-small;

    // @media (min-width: $breakpoint-medium) {
    //     font-size: $font-size-medium;
    // }

    // @media (min-width: $breakpoint-large) {
    //     font-size: $font-size-large;
    // }
}

// Titles
h1,
h2,
h3,
h4 {
    font-family: $ff-text;
    margin: inherit;
    font-weight: bold;
}