.form {
    display: flex;
    width: 15vw;
    margin-bottom: 2rem;
    

    &__label {
        height: 4.9rem;
        font-size: 1.6rem;
        border-right: none;
        border: 0.1rem solid $bg-second;
        border-radius:  1.5rem 0 0 1.5rem;
        padding: 1.5rem 1.6rem 1.5rem 1.6rem;
        // background-color: $bg-second;
        background-color: $bg-alt ;
        
    }
    
    &__input {
        background-color: $bg-second;
        padding: 1.5rem 1.6rem 1.5rem 1.6rem;
        color: $color-text;
        width: 33.2rem;
        height: 4.9rem;
        border: 0.1rem solid $bg-alt ;
        font-size: 1.8rem;
        font-weight: 700;
    }
    
    &__input::placeholder {
        color: $color-text;

    }
}