.nav {
    width: 20%;
    height: 100%;
    @include flexMid;
    
    
    // background-color: black;
    
    &__bar {
        
        width: 50%;
        height: 100%;
        padding-top: 3rem;
        text-align: center;
        align-items: center;
        
        &-link {
            height: 100%;
            width: 100%;
            font-size: 1.3rem;
        }
    }

    & .active, .active > a {
        color: $color-icon;
        border-top: 2px solid $color-icon;
        
    }
    
   & .active > a {
        border: none;
        
    } 

    @include respond(phone) {
       
       width: 100%;

       &__bar {
           padding: 2rem 6.5rem;
        
        &-link {
            height: 100%;
            width: 100%;
            font-size: 1.8rem;
            
        }
    }

       

        .active, .active > a {
            border-top: none;
            color: $color-icon;
            border-bottom: 2px solid $color-icon;
            
        }

        .active > a {
            border: none;
            
        }
    }
    
} 


