.footer {
    bottom: 0;
    padding: 3rem;
    display: flex;
    margin-top: 5rem;
    background-color: $bg-alt;

}

.footer-lien {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 15rem;

    &__title {
        font-size: 1.6rem
    }

    &__para {
            margin: 0.2rem 0;

        &__para-link{
            font-size: 1.3rem;
        }
    }

}

@include respond(phone) {
    .footer {
        padding: 3rem 2rem 5rem 3rem;
        display: block;
        margin-top: 5rem;
        background-color: $bg-alt;
    }

    .footer-lien {
        margin-bottom: 1rem;
    }

}