.right {
    width: 29vw;
    @include respond(tab-port) {
        width: 93vw;
        margin-top: 2rem;
    
        
        & .insert {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    @include respond(phone) {
        width: 100%;
        
        & .insert {
            display: block;
            width: 100%;
        }
    }
    
}
.favorite {
    
    display: flex;
    justify-content: space-between;
    align-content: center;
    
    &__icon {
        margin-top: 0.6rem;
        font-size: 2rem;
        color: $color-icon;
        
        @include respond(phone) {
            margin-top: 2rem;
        }
    }


}