@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexRow {
    display: flex;
    justify-content: space-between;
    
}
@mixin flexRow2 {
    display: flex;
    
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}