@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexRow {
    display: flex;
    justify-content: space-between;
    
}
@mixin flexRow2 {
    display: flex;
    
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}


// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablette 
900 - 1200px:   Tablette desktop
[1200 - 1800] is where our normal styles apply
1400px + :       desktop

$breakpoint  à choisir:
- phone
- tab-port
- desktop
- big-desktop

*/


@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 600rem) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 90rem) { @content };     //900px
    }
    @if $breakpoint == desktop {
        @media only screen and (max-width: 120rem) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 140rem) { @content };    //1400
    }
}